.app {
  background-color: #89cbf0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.quiz {
  margin-bottom: 100px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.quiz .score-section {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.quiz .question {
  margin-bottom: 20px;
}

.quiz .question-count {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz .question-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.quiz .answer-options .answer-option {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  margin: 5px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.quiz .answer-options .answer-option:hover {
  background-color: #ebe7e7;
}

.quiz .answer-options .answer-option.selected {
  background-color: #89cbf0;
  color: #fff;
}

.quiz .answer-options .answer-option.correct {
  background-color: #c8f7c5;
}

.quiz .answer-options .answer-option.incorrect {
  background-color: #f7c5c5;
}

.quiz .show-score-btn {
  background-color: #89cbf0;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
}

.quiz .show-score-btn:hover {
  background-color: #73a7c5;
}

.btn-container {
  justify-content: center;
  text-align: center;
}

.no-show {
  display: none;
}
